# Localversion
CONFIG_LOCALVERSION="-yukiprjkt-a03s"

# Compile options
# CONFIG_RANDOMIZE_BASE is not set
CONFIG_ARCH_HAS_RELR=y
CONFIG_RELR=y

# Project Name and Code
CONFIG_ARCH_MTK_PROJECT="hs03s"
CONFIG_HQ_PROJECT_HS03S=y

# Block dev count
CONFIG_BLK_DEV_LOOP_MIN_COUNT=48

# Imgsensor
CONFIG_CUSTOM_KERNEL_IMGSENSOR="hi1336_txd_mipi_raw gc13053_ly_mipi_raw s5k3l6_ofilm_mipi_raw ov13b10_dd_mipi_raw ov13b10_qt_mipi_raw ov13b10_xl_mipi_raw hi1336_hlt_mipi_raw hi556_txd_mipi_raw hi556_ofilm_mipi_raw gc5035_dd_mipi_raw gc5035_ly_mipi_raw gc5035_xl_mipi_raw gc2375h_cxt_mipi_raw gc02m1b_ly_mipi_raw ov02b1b_jk_mipi_raw gc2375h_sjc_mipi_raw gc02m1_jk_mipi_raw gc02m1_hlt_mipi_raw gc02m1_cxt_mipi_raw ov02b10_ly_mipi_raw sc1300cs_ly_mipi_raw sc500cs_dd_mipi_raw sc201cs_cxt_macro_mipi_raw sc201cs_cxt_mipi_raw"

# LCM
CONFIG_CUSTOM_KERNEL_LCM="hx83112a_hdplus1600_dsi_vdo_ls_boe_9mask_55nm nl9911c_hdplus1600_dsi_vdo_truly_truly hx83102d_hdplus1600_dsi_vdo_jz_inx ili7806s_hdplus1600_dsi_vdo_txd_boe_9mask jd9365t_hdplus1600_dsi_vdo_hlt_boe_6mask jd9365t_hdplus1600_dsi_vdo_hy_mdt ili9882h_liansi_panda_dsi_vdo lcd_jd9365t_txd_ctc_mipi_hdp_video lcd_nl9911c_txd_hkc_mipi_hdp_video lcd_gc7202_ls_hsd_mipi_hdp_video hs03s_hdplus1600_dsi_default_vdo"

# Flashlight
CONFIG_MTK_FLASHLIGHT_SGM3785_GPIO=y
# CONFIG_MTK_FLASHLIGHT_O21_SGM3785_GPIO is not set

# Sensors
CONFIG_CUSTOM_KERNEL_SAR_SENSOR=y
CONFIG_SENSORS=y

# Touchscreen
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET=y
CONFIG_TOUCHSCREEN_GALAXYCORE_CHIPSET=y
CONFIG_TOUCHSCREEN_ILI7806S_TOUCH=y
CONFIG_TOUCHSCREEN_HIMAX_COMMON=y
# CONFIG_TOUCHSCREEN_HIMAX_ONCELL is not set
CONFIG_TOUCHSCREEN_HIMAX_INCELL=y
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83192 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83191 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83113 is not set
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112=y
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83111 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83106 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83103 is not set
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=y
# CONFIG_TOUCHSCREEN_HIMAX_EMBEDDED_FIRMWARE is not set
# CONFIG_HMX_DB is not set
# CONFIG_HIMAX_SUPPORT_KERNEL_419 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83121 is not set
CONFIG_TOUCHSCREEN_JADARD_CHIPSET=y
CONFIG_TOUCHSCREEN_CHIPONE=y
# CONFIG_TOUCHSCREEN_JADARD_CHIPSET_M04 is not set
# CONFIG_TOUCHSCREEN_GALAXYCORE_CHIPSET_M04 is not set
# CONFIG_TOUCHSCREEN_CHIPONE_CHIPSET_M04 is not set

# Battery and Charger
CONFIG_CHARGER_BQ2560X=y
CONFIG_CHARGER_SGM41511=y
# CONFIG_CHARGER_UPM6910 is not set
CONFIG_CHARGER_ETA6953=y
CONFIG_CHARGER_SY6974=y


# Audio
# CONFIG_HEADSET_IN_OUT_NOTIFY is not set

# Samsung Misc Drv
CONFIG_CM_OFFSET=3146292
CONFIG_FMM_LOCK_OFFSET=3146356
CONFIG_SAMSUNG_PRODUCT_SHIP=y

# Filesystem
# CONFIG_F2FS_SEC_ENC_STRICT_MODE is not set

# Debug
CONFIG_DEBUG_BUGVERBOSE=y
