# Localversion
CONFIG_LOCALVERSION="-yukiprjkt-a04e"

# Compile options
CONFIG_RELOCATABLE=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y
CONFIG_ARCH_HAS_RELR=y
CONFIG_RELR=y

# Project Name and Code
CONFIG_ARCH_MTK_PROJECT="hs04"
CONFIG_HQ_PROJECT_HS04=y

# Block dev count
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16

# Imgsensor
CONFIG_CUSTOM_KERNEL_IMGSENSOR="o2101_sc1300csly_back_mipi_raw o2102_hi1336txd_back_mipi_raw o2103_ov13b10hlt_back_mipi_raw o2104_hi1336sjc_back_mipi_raw o2101_hi556txd_front_mipi_raw o2102_ov05a10hlt_front_mipi_raw o2103_sc520syx_front_mipi_raw o2104_hi556wtxd_front_mipi_raw o2101_sc201cscxt_depth_mipi_raw o2102_gc2375hhlt_depth_mipi_raw o2103_sp2507hcxt_depth_mipi_raw"

# LCM
CONFIG_CUSTOM_KERNEL_LCM="lcd_jd9365t_txd_ctc_mipi_hdp_video lcd_gc7202_ls_hsd_mipi_hdp_video lcd_nl9911c_hlt_hkc_mipi_hdp_video lcd_jd9365t_txd_boe_mipi_hdp_video lcd_nl9911c_hr_hr_mipi_hdp_video lcd_jd9365t_txd_ctc_jbpd_mipi_hdp_video hs04_hdplus1600_dsi_default_vdo"

# Flashlight
# CONFIG_MTK_FLASHLIGHT_SGM3785_GPIO is not set
CONFIG_MTK_FLASHLIGHT_O21_SGM3785_GPIO=y

# Sensors
# CONFIG_CUSTOM_KERNEL_SAR_SENSOR is not set
# CONFIG_SENSORS is not set

# Touchscreen
# CONFIG_TOUCHSCREEN_HIMAX_CHIPSET is not set
# CONFIG_TOUCHSCREEN_GALAXYCORE_CHIPSET is not set
# CONFIG_TOUCHSCREEN_ILI7806S_TOUCH is not set
# CONFIG_TOUCHSCREEN_JADARD_CHIPSET is not set
# CONFIG_TOUCHSCREEN_CHIPONE is not set
CONFIG_TOUCHSCREEN_JADARD_CHIPSET_M04=y
CONFIG_TOUCHSCREEN_GALAXYCORE_CHIPSET_M04=y
CONFIG_TOUCHSCREEN_CHIPONE_CHIPSET_M04=y

# Battery and Charger
# CONFIG_CHARGER_BQ2560X is not set
# CONFIG_CHARGER_SGM41511 is not set
CONFIG_CHARGER_UPM6910=y
# CONFIG_CHARGER_ETA6953 is not set
# CONFIG_CHARGER_SY6974 is not set
# CONFIG_BATT_TIME_TO_FULL is not set
CONFIG_GXY_HS04_BATT_TIME_TO_FULL=y

# Audio
CONFIG_HEADSET_IN_OUT_NOTIFY=y

# Samsung Misc Drv
CONFIG_CM_OFFSET=0
CONFIG_FMM_LOCK_OFFSET=0
# CONFIG_SAMSUNG_PRODUCT_SHIP is not set

# Filesystem
CONFIG_F2FS_SEC_ENC_STRICT_MODE=y

# Debug
# CONFIG_DEBUG_BUGVERBOSE is not set
